/* Created by Patricia Antlitz 2024 */

/* the background color of the whole page*/
body {
  background-color: antiquewhite;
  scroll-behavior: smooth;
}

.mainContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
}

/*this is the navbar with the lighter color*/
.navbar {
  background-color: cadetblue;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 100px;
  width: 100%;
  z-index: 10;
}

.logo {
  padding-left: 90px;
}

/* The darker, thinner navbar on top of the page with all the menu options*/
.navbarLists {
  background-color: rgb(57, 112, 112);
  height: 49px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;

  /* position of the menu options to the right*/
  li {
      float: right;
      border-right: 1px solid beige;
  }
  
  /* the text for the menu*/
  li a {
      font-family: "Orbitron", sans-serif;
      font-size: 15px;
      display: block;
      color: antiquewhite;
      text-align: center;
      padding: 15px 50px;
      text-decoration: none;
  }

  /* Colot changes on hover */
  li a:hover {
      background-color: rgb(36, 61, 61);
  }

  li:last-child {
      border-left: none;
  }
}

/* This is the div that holds the video */
.centerColumn {
  background-color: white;
  top: 175px;
  width: 760px;
  height: 520px;
  position: absolute;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
  
.video {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0;
}
  
/* This container behind of the centerColumn. It holds the performer's images */
.featuredContainer {
  position: relative;
  top: 160px;
  height: 100%;
  z-index: 0;
  display: flex; /* Added for flexbox layout */
  justify-content: space-between; /* Added for alignment */
}

/* positioning of the images */
.leftCredit,
.rightCredit {
  width: 20%;
  list-style: none;
  padding: 0;
}

/* Direction of the images */
.leftCredit {
  text-align: left;
}

.rightCredit {
  text-align: right;
}

/* This label holds text that shows when the mouse hovers on the image */
.imgLabel {
  position: relative; /* Needed for proper text positioning */
  overflow: hidden;
}

.imgLabel:hover img {
  opacity: 40%;
}

/* the "fading" of the image (opacity) will decrease and increase smoothly */
.imgLabel img {
  transition: ease-in-out, transform 0.1s ease-in-out; /* Add transform transition */
}

/* This is the actual text that appears when hovring over the images */
.imgLabel p.hoverText {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute; /* Position text on top of the image */
  top: 80%; /* Center text vertically */
  left: 50%; /* Center text horizontally */
  transform: translate(-50%, -50%); /* Adjust positioning as needed */
  color: black; /* Text color */
  padding-top: 5px;
  display: none; /* Initially hide the text */
}

.imgLabel:hover p.hoverText {
  display: block; /* Show the text on hover */
}

.imgLabel:hover img {
  transform: scale(1.1)
}

/* each image to the right */
.troast,
.ego,
.fineman {
  border: 5px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 83px;
  border-radius: 10px;
}

/* each image to the left */
.snl,
.ryan,
.chris {
  border: 5px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 83px;
  border-radius: 10px;
}

/* "Features:" text on top of Home's images */
.featuredTitle {
  color: rgb(57, 112, 112);
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  position: relative;
  text-align: center;
}

/* About div */
.aboutWrapper {
  position: relative; /* Already set for proper anchor behavior */
  background-color: white;
  border-radius: 10px;
  margin: 50px;
  margin-top: 105px;
  padding: 70px 70px 120px;
  border-radius: 10px;
}

/* text styling for stand out text on the about me session */
.aboutStyle {
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
  bottom: 0;
  left: 0;
}

/* regular text on the about me session */
.text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: midnightblue;
}

/* "PERFORMERS" text for performer's section */
.performersTitle {
  color: teal;
  font-family: "Orbitron", sans-serif;
  position: relative;
  padding: 10px 40px;
}

/* the div that hold the section */
.performersWrapper {
  position: relative;
  background-color: white;
  border-radius: 10px;
  margin: 50px;
  padding: 60px 70px;
  border-radius: 10px;
}

/* table set up */
table {
  width: 100%;  /* will take the whole div */
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 15px;
  border: 1px solid rgba(221, 221, 221, 1);
}

th {
  background-color: rgb(242,242,242);
}

tbody tr:nth-child(even) {
  background-color: rgb(242,242,242);
}

#footer {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(57, 112, 112);
  padding: 10px;
  text-align: left;
  width: 100%;
  position: absolute;
}
